            <hr>
            
            <p>External links:</p>
            
            <li><a href="http://bradleypmartinsandbox.com">Back to my App Sandbox</a></li>
            <li><a href="https://www.bradleypmartin.com">My personal homepage (bradleypmartin.com)</a></li>
            
            <hr>
        </div>

    </body>
</html>