<% include ../partials/header %>

        <div class="container">
            <h1><strong>Sample Application 1</strong></h1>
        
            <hr>
        
            <p><em>This is a location where I'll host a specific web application,
            linked from my web application sandbox landing page. Check back
            soon for more content!</em></p>

<% include ../partials/footer %>